@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0.05em;
}

/* Reset styles */
.reset {
    all: unset;
}

/* Animating the popover in */

/* IS-OPEN STATE   */
/* [popover]:popover-open {
    translate: 0 0;
} */

/* EXIT STATE   */
/* [popover] {
    transition:
        translate 0.7s ease-out,
        display 0.7s ease-out allow-discrete;
    translate: 0 -22rem;
} */

/* 0. BEFORE-OPEN STATE   */
/* @starting-style {
    [popover]:popover-open {
        translate: 0 -22rem;
    }
} */

@layer components {
    /* -------------------------------------------------------------------------- */
    /*                                  neu-form                                  */
    /* -------------------------------------------------------------------------- */
    .form-group,
    .file-input-group {
        @apply flex w-full flex-col gap-2;
    }

    .form-label,
    .form-helper-text {
        @apply text-secondary font-indie-flower text-sm leading-3 tracking-wider;
    }

    /*-- ------------------------- input-text ------------------------- */
    .dropdown-select,
    .input-textarea,
    .input-text {
        @apply bg-primary text-primary active:placeholder:text-primary focus:placeholder:text-primary placeholder:text-secondary w-full appearance-none rounded-lg border border-light-secondary px-3 py-2 font-indie-flower shadow-neu-light-xs outline-none transition duration-300 placeholder:tracking-wide focus:shadow-neu-inset-light-xs dark:border-dark-secondary dark:shadow-neu-dark-xs dark:focus:shadow-neu-inset-dark-xs;
    }

    /* ------------------------- input-wrapper & Icon ------------------------- */
    .input-wrapper {
        @apply flex w-full items-center rounded-lg border border-light-secondary shadow-neu-light-xs dark:border-dark-secondary dark:shadow-neu-dark-xs;
    }

    .input-icon {
        @apply text-secondary size-10 shrink-0 border-light-secondary px-2 dark:border-dark-secondary;
    }

    .input-group-start .input-text {
        @apply m-1 ml-0 rounded-l-none rounded-r-md border-none py-1 shadow-none focus:shadow-neu-inset-light-xs dark:focus:shadow-neu-inset-dark-xs;
    }

    .input-group-start .input-icon {
        @apply rounded-l-md rounded-r-none border-r;
    }

    .input-group-end .input-text {
        @apply m-1 mr-0 rounded-l-md rounded-r-none border-none py-1 shadow-none focus:shadow-neu-inset-light-xs dark:focus:shadow-neu-inset-dark-xs;
    }

    .input-group-end .input-icon {
        @apply rounded-l-none rounded-r-md border-l;
    }

    .input-wrapper:hover .input-text,
    .input-wrapper:focus .input-text,
    .input-wrapper:hover .input-icon,
    .input-wrapper:focus-within .input-icon {
        @apply placeholder:text-primary text-primary;
    }

    .input-wrapper:focus-within .input-icon.error {
        @apply border border-red-500 dark:border-red-500;
    }

    /* ------------------------- input-inset-outset ------------------------- */
    .input-inset-outset {
        @apply bg-primary appearance-none rounded-xl border-none shadow-neu-inset-light-sm outline-none placeholder:tracking-wide dark:shadow-neu-inset-dark-sm;
    }

    .input-inset-outset:focus,
    .input-inset-outset:hover,
    .input-inset-outset:active {
        @apply placeholder:text-primary shadow-neu-light-md dark:shadow-neu-dark-md;
    }

    /* ---------------------------- input-textarea --------------------------- */
    .input-textarea {
        @apply transition-all duration-300;
    }

    /* ----------------------------- dropdown-select ---------------------------- */
    .dropdown-select {
        @apply cursor-pointer appearance-none bg-no-repeat pr-10 ring-black focus:ring-1 dark:ring-white;

        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="%23767676" d="M8.037 11.166L14.5 22.36c.825 1.43 2.175 1.43 3 0l6.463-11.195c.826-1.43.15-2.598-1.5-2.598H9.537c-1.65 0-2.326 1.17-1.5 2.6z"/></svg>');
        background-position: right 0.5rem center;
        background-size: 1.5rem 1.5rem;
    }

    /* ------------------------------- file-upload ---------------------------- */
    .file-upload {
        @apply hidden;
    }

    .file-upload-group label {
        @apply bg-primary text-secondary hover:text-primary relative cursor-pointer overflow-hidden rounded-lg border border-light-secondary px-4 py-2 font-indie-flower shadow-neu-light-xs transition duration-300 ease-in-out active:shadow-neu-inset-light-sm dark:border-dark-secondary dark:shadow-neu-dark-xs dark:active:shadow-neu-inset-dark-sm;
    }

    .file-upload-group label:after {
        content: 'Browse';
        @apply text-secondary bg-secondary absolute right-0 top-0 px-4 py-2 font-indie-flower;
    }

    .file-preview {
        @apply bg-primary mx-auto size-fit rounded-lg border border-light-secondary p-3 shadow-neu-inset-light-sm dark:border-dark-secondary dark:shadow-neu-inset-dark-sm;
    }

    /* ----------------------------- checkbox-input -------------------------- */
    .checkbox-group {
        @apply bg-primary flex flex-col items-start gap-2 rounded-2xl px-16 py-12 shadow-neu-inset-light-xs dark:shadow-neu-inset-dark-xs;
    }

    .checkbox-label {
        @apply inline-flex cursor-pointer items-center;
    }

    .checkbox-input {
        @apply bg-primary flex-center disabled:text-secondary size-4 appearance-none rounded border border-light-secondary shadow-neu-inset-light-xs outline-none transition-all duration-300 ease-in-out placeholder:tracking-wide dark:border-dark-secondary dark:shadow-neu-inset-dark-xs;
    }

    .checkbox-input:checked {
        @apply bg-primary text-primary flex-center;
    }

    .checkbox-input:checked:after {
        content: '\2713';
        @apply text-primary flex-center size-full font-bold transition-all;
    }

    .checkbox-input:checked:after {
        transform: scale(0.8);
    }

    .checkbox-text {
        @apply text-secondary ml-2 font-indie-flower text-sm transition-all duration-500;
    }

    .checkbox-label:hover .checkbox-text,
    .checkbox-input:checked ~ .checkbox-text {
        @apply text-primary translate-x-2;
    }

    /* ------------------------------- radio-input --------------------------- */
    .radio-group {
        @apply bg-primary flex flex-col items-start gap-2 rounded-2xl px-16 py-12 shadow-neu-inset-light-xs dark:shadow-neu-inset-dark-xs;
    }

    .radio-label {
        @apply relative inline-flex cursor-pointer items-center;
    }

    .radio-input {
        @apply sr-only;
    }

    .radio-indicator {
        @apply relative size-5 overflow-hidden rounded-full shadow-neu-light-xs before:absolute before:left-[10%] before:top-[10%] before:size-4/5 before:rounded-full before:shadow-neu-light-md dark:shadow-neu-dark-xs dark:before:shadow-neu-dark-md;
    }

    .radio-text {
        @apply text-secondary ml-2 font-indie-flower transition-all duration-500;
    }

    .radio-label:hover .radio-text,
    .radio-input:checked ~ .radio-text {
        @apply text-primary translate-x-2;
    }

    .radio-input:checked ~ .radio-indicator:before {
        @apply shadow-neu-inset-light-xs dark:shadow-neu-inset-dark-xs;
    }

    /* ------------------------------- neu-switch ------------------------------- */

    .switch-label {
        @apply relative inline-flex cursor-pointer items-center;
    }

    .toggle-switch {
        @apply sr-only;
    }

    .switch-indicator {
        @apply bg-primary h-12 w-24 rounded-full shadow-neu-inset-light-sm outline-none ring-0;
        @apply dark:shadow-neu-inset-dark-sm;
    }

    .switch-indicator:after {
        @apply bg-primary ease-Out-back absolute left-1 top-1 flex size-10 -rotate-180 items-center justify-center rounded-full shadow-neu-light-xs outline-none duration-300 content-['✖️'];
        @apply dark:shadow-neu-dark-xs;
    }

    .toggle-switch:hover ~ .switch-indicator:after {
        @apply scale-95;
    }

    .toggle-switch:checked ~ .switch-indicator:after {
        @apply translate-x-12 rotate-0 content-['✔️'];
    }

    /* ------------------------------- neu-slider ------------------------------- */
    .range-slider-group {
        @apply w-full;
    }

    .range-slider {
        @apply bg-primary relative h-2 w-full appearance-none rounded-full shadow-neu-light-xs outline-none dark:shadow-neu-dark-xs;
    }

    .range-slider::-webkit-slider-thumb {
        @apply bg-accent-primary h-6 w-6 cursor-pointer appearance-none rounded-full shadow-neu-light-xs transition duration-300 ease-in-out dark:shadow-neu-dark-xs;
    }

    .range-slider::-moz-range-thumb {
        @apply bg-accent-primary relative h-6 w-6 cursor-pointer appearance-none rounded-full shadow-neu-light-xs transition duration-300 ease-in-out;
    }

    .neu-form-double-range-group {
        @apply flex w-full flex-col gap-4;
    }

    /* -------------------------------------------------------------------------- */
    /*                                calendar                                */
    /* -------------------------------------------------------------------------- */
    .calendar-container {
        @apply relative w-72;
    }

    .calendar {
        @apply bg-primary absolute left-0 top-12 z-50 mt-2 w-full overflow-hidden rounded-lg shadow-neu-light-xs dark:shadow-neu-dark-xs;
    }

    .calendar-header-button {
        @apply flex items-center justify-between px-4 py-2 shadow-neu-light-xs dark:shadow-neu-dark-sm;
    }

    .calendar-header-button-btn {
        @apply button p-1.5;
    }

    .calendar-header-title {
        @apply button mx-3 w-full text-nowrap px-4 py-1.5 text-sm;
    }

    .calendar-body,
    .calendar-body-days,
    .calendar-body-months,
    .calendar-body-years {
        @apply m-1 grid gap-1 p-4 text-sm shadow-neu-inset-light-xs dark:shadow-neu-inset-dark-xs;
    }

    .calendar-body-days {
        @apply grid-cols-7;
    }

    .calendar-body-months {
        @apply grid-cols-3;
    }

    .calendar-body-years {
        @apply grid-cols-4;
    }

    .calendar-item {
        @apply text-primary hover:bg-secondary flex cursor-pointer items-center justify-center rounded-lg p-2 transition hover:text-white hover:shadow-neu-light-xs dark:hover:shadow-neu-dark-xs;
    }

    .calendar-item.active {
        @apply bg-secondary text-white shadow-neu-light-xs dark:shadow-neu-dark-xs;
    }

    /* -------------------------------------------------------------------------- */
    /*                                  badge                                 */
    /* -------------------------------------------------------------------------- */
    .badge {
        @apply text-secondary rounded-full border border-light-secondary px-2 py-1 text-center font-indie-flower text-sm shadow-neu-inset-light-sm dark:border-dark-secondary dark:shadow-neu-inset-dark-xs;
    }

    .badge-primary {
        @apply text-primary;
    }

    .badge-secondary {
        @apply text-secondary;
    }

    .badge-accent {
        @apply text-accent;
    }

    .badge-highlight {
        @apply text-highlight;
    }

    .badge-md {
        @apply px-3 py-2;
    }

    .badge-lg {
        @apply px-4 py-3 text-base;
    }

    .badge-xl {
        @apply px-5 py-4 text-lg;
    }

    /* -------------------------------------------------------------------------- */
    /*                                   button                                  */
    /* -------------------------------------------------------------------------- */

    .button {
        @apply text-secondary bg-primary rounded-lg border border-light-secondary px-4 py-2 text-center font-indie-flower tracking-wider shadow-neu-light-xs transition-all duration-300 dark:border-dark-secondary dark:shadow-neu-dark-xs;
    }

    .button.active,
    .button:active {
        @apply text-primary shadow-neu-inset-light-xs dark:shadow-neu-inset-dark-xs;
    }

    .button:hover:not(.active),
    .button:focus:not(.active) {
        @apply text-primary scale-105 transform;
    }

    /*-- -------------------------------- button-pill -------------------------------- */
    .button-pill {
        @apply rounded-l-full rounded-r-full;
    }

    /*-- -------------------------------- button-with-icon -------------------------------- */
    .button-with-icon {
        @apply inline-flex items-center justify-center gap-2 text-sm;
    }

    /*-- -------------------------------- button-icon-only ------------------------------*/
    .button-icon-only {
        @apply rounded-full p-2 shadow-neu-light-md dark:shadow-neu-dark-md;
    }

    .button-icon-only-square {
        @apply rounded-lg p-2 shadow-neu-light-md dark:shadow-neu-dark-md;
    }

    /*-- -------------------------------- button Sizes -------------------------------- */
    .button-sm {
        @apply px-2 py-1 text-xs;
    }

    .button-lg {
        @apply px-4 py-3 text-base;
    }

    .button-xl {
        @apply px-5 py-4 text-lg;
    }

    /* -------------------------------------------------------------------------- */
    /*                                    Modal                                   */
    /* -------------------------------------------------------------------------- */
    /* Base dialog styling */
    dialog {
        transition:
            transform 300ms,
            opacity 300ms,
            overlay 300ms allow-discrete,
            display 300ms allow-discrete;
        @apply bg-primary outline-none;
    }

    dialog::backdrop {
        transition:
            transform 300ms,
            opacity 300ms,
            overlay 300ms allow-discrete,
            display 300ms allow-discrete;
        @apply bg-primary;
    }

    /* Side navigation animations */
    .side-nav-animation {
        @apply -translate-x-full -translate-y-full scale-0 opacity-0;
    }

    .side-nav-animation[open] {
        @apply translate-x-0 translate-y-0 scale-100 opacity-100;
    }

    .side-nav-animation::backdrop {
        @apply -translate-x-full opacity-65;
    }

    .side-nav-animation[open]::backdrop {
        @apply translate-x-0;
    }

    /* Modal animations */
    .modal-animation {
        @apply m-auto hidden scale-0 opacity-0 ease-in-out;
    }

    .modal-animation::backdrop {
        @apply scale-x-100 scale-y-0 opacity-65 ease-in-out;
    }

    /* Visible state for modal */
    .modal-animation[open] {
        @apply block scale-100 opacity-100 delay-300;
    }

    .modal-animation[open]::backdrop {
        @apply scale-x-100 scale-y-100;
    }

    /* Initial styles for smooth entry transition */
    @starting-style {
        .modal-animation[open] {
            @apply scale-0 opacity-0;
        }
        .modal-animation[open]::backdrop {
            @apply scale-x-100 scale-y-0;
        }
        .side-nav-animation[open] {
            @apply -translate-x-full -translate-y-full scale-0 opacity-0;
        }
        .side-nav-animation[open]::backdrop {
            @apply -translate-x-full opacity-0;
        }
    }
}

@layer utilities {
    /* ---------------------------------- Error --------------------------------- */
    .error {
        @apply border-red-500 text-red-500 transition-all duration-300 focus-within:border-red-500 hover:border-red-500 focus:border-red-500 dark:border-red-600 dark:text-red-500 dark:focus-within:border-red-600 dark:hover:border-red-600 dark:focus:border-red-600;
    }

    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .animation-duration-1000 {
        animation-duration: 1000ms;
    }

    .animation-duration-1500 {
        animation-duration: 1500ms;
    }

    .animation-duration-2000 {
        animation-duration: 2000ms;
    }

    /* -------------------------------------------------------------------------- */
    /*                                Color Scheme                                */
    /* -------------------------------------------------------------------------- */

    .bg-primary {
        @apply bg-light-primary dark:bg-dark-primary;
    }

    .bg-secondary {
        @apply bg-light-secondary dark:bg-dark-secondary;
    }

    .bg-accent-primary {
        @apply bg-light-accent-primary dark:bg-dark-accent-primary;
    }

    .bg-highlight-primary {
        @apply bg-light-highlight-primary dark:bg-dark-highlight-primary;
    }

    /* ------------------------------- Text Colors ------------------------------ */
    .text-primary {
        @apply text-light-text-primary dark:text-dark-text-primary;
    }

    .text-secondary {
        @apply text-light-text-secondary dark:text-dark-text-secondary;
    }

    .text-accent {
        @apply text-light-accent-primary dark:text-dark-accent-primary;
    }

    .text-highlight {
        @apply text-light-highlight-primary dark:text-dark-highlight-primary;
    }

    .text-theme-primary {
        @apply text-light-primary dark:text-dark-primary;
    }

    .text-theme-secondary {
        @apply text-light-secondary dark:text-dark-secondary;
    }

    /* ----------------------------- Thin Scrollbar ----------------------------- */
    .scrollbar-thin {
        &::-webkit-scrollbar {
            width: 4px;
            /* Set the width of the scrollbar */
            height: 4px;
            /* Set the height of the scrollbar for vertical scrollbar */
        }

        /* Set the color of the scrollbar thumb */
        &::-webkit-scrollbar-thumb {
            @apply rounded-lg bg-dark-secondary dark:bg-light-secondary;
        }

        /* Set the color of the scrollbar thumb on hover */
        &::-webkit-scrollbar-thumb:hover {
            @apply bg-dark-primary dark:bg-light-primary;
        }
        &::-webkit-scrollbar-track {
            @apply bg-gray-50 dark:bg-gray-500;
        }
    }
}
